@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&family=Ubuntu:ital@1&display=swap');

html {
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    padding: 1rem;
}

.row,
.container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.fixed-top {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.landing {
    position: relative;
    width: 100%;
    height: 90vh;
    display: table;
    z-index: -1;
}

.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(255, 64, 0, 0.4) 20%,
            rgba(0, 0, 0, 1)),
        url("images/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.hero-caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: #E5E4E2;
    text-transform: uppercase;
    font-size: 3.8rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    font-style: italic;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
    padding-bottom: 1rem;
}

.btn-lg {
    padding: 0.6rem 1.3rem;
    border-style: none;
    border-radius: 0;
    background-color: #dddddd;
    color: #333333;
    transition: 0.5s ease-out;
    box-shadow: 0.1rem 0.1rem 0.8rem black;
    font-size: 1.3rem;
    font-weight: 600;
}

.btn-lg:hover {
    background-color: #590202;
    color: #435560;
}

.fixed-background {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}

.fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/*Nav Css*/
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    font-style: italic;
    letter-spacing: 0.1rem;
    background: rgba(0, 0, 0, 0.4) !important;
}

.navbar-brand img {
    height: 3.5rem;
}

.navbar-nav li {
    padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #E5E4E2;
    padding-top: 0.8rem;
    transition: 0.5s ease-out;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 64, 0);
}

/*Nav Css*/

/*Classes Css*/
#classes {
    background-color: #111111;
    padding: 1.8rem 0;
}

.card {
    color: #faf9f9;
    background-image: url(images/trainer1.jpg);
    background-size: cover;
    background-position: center center;
    padding: 10rem 0 0;
    margin: 0.2rem auto;
    max-width: 40ch;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
    cursor: pointer;
}

.kickbox {
    background-image: url(images/kickboxing-img.jpg);
}

.trx {
    background-image: url("images/trx -mg.jpg");
}

.yoga {
    background-image: url(images/yoga-img.jpg);
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}


.card-content {
    padding: 1.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0),
            rgba(20, 0, 0, 0.3) 20%,
            rgba(0, 0, 0, 1));
    transform: translateY(65%);
    transition: transform 0.5s ease-in;
    text-align: center;
    font-weight: bold;
}

.card:hover .card-content,
.card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 0.5s;
}

.card:focus-within .card-content {
    transition-duration: 0s;
}

.card-content>* :not(.card-title) {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.card:hover .card-content>*:not(.card-title) {
    opacity: 1;
    transition-delay: 1s;
}

.card-title {
    position: relative;
    width: max-content;
    max-width: 100%;
    bottom: 2rem;
    text-transform: uppercase;
    color: #ffe8d6;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
}

.card-title::after {
    content: '';
    position: absolute;
    height: 4px;
    left: -1.5rem;
    bottom: -11px;
    width: calc(100% + 1.5rem);
    background: #dc552c;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.card-body {
    color: rgba(255, 255, 255, 0.8);
}

.card:hover {
    transform: scale(1.05);
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #faf9f9;
    background-color: #ff971d;
    padding: 0.5rem 1.1rem;
    transition: 0.5s ease-in-out;
    border-radius: 0.25rem;
}

.button:hover,
.button:focus {
    background-color: #e1701a;
}

/*Classes Css*/

/*Experience CSS*/
.testimonials{
  padding: 40px 0;
  background: linear-gradient(-100deg, #FF4000 50%, #E5E4E2 50%);
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}


.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #111111;
  padding: 30px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #FF4000;
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}

/*Experience CSS*/


/*PRICING CSS */

#price {
    margin: 0;
    padding: 2.5rem 0;
    background: url(images/footer-img.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pricing-table {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: #999999;
}

.col {
    flex: 25%;
    padding: 0.6rem;
    max-width: 320px;
    box-sizing: border-box;
}

.table {
    color: #999999;
    background: #111111;
    padding: 2.5rem 1.25rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.5);
}

.table h2 {
    text-transform: uppercase;
}

.table ul {
    margin: 0;
    padding: 0;
}

.table ul li {
    padding: 0.6rem 0;
    list-style: none;
}

.price {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.price span {
    display: block;
    font-size: 0.9rem;
}

.table a {
    text-decoration: none;
    color: #FF4000;
    border: 2px solid #FF4000;
    display: block;
    padding: 0.6rem 0;
    margin: 0.6rem 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: 0.5s ease-in;
}

.table a:hover {
    background: #FF4000;
    color: #333333;
}

.pop {
    background: #FF4000;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(45deg);
    padding: 10px 35px;
    position: absolute;
    top: 12px;
    right: -35px;
}

@media screen and (max-width:980px) {
    .col {
        flex: 50%;
    }
}

/*PRICING CSS */

/*CONTACT CSS */
#contact {
    background: linear-gradient(to right, rgb(35, 37, 38, 0.8), rgb(65, 67, 69, 0.8)),
        url(images/hero-img.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 2.5rem 0;
}

#contact h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
}

.contact-form {
    max-width: 37.5rem;
    margin: auto;
    padding: 0 0.6rem;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0;
    border: 0;
    background: #111111;
    padding: 1.2rem 2.5rem;
    outline: none;
    color: #435560;
    font-weight: bold;
    transition: 0.5s ease-out;
}

.contact-form-text:hover {
    box-shadow: 0 0 0.6rem 0.2rem #FF4000;
}

textarea .contact-form-text {
    resize: none;
    height: 7.5rem;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #111111;
    color: #FF4000;
    padding: 0.8rem 2.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-out;
    text-transform: uppercase;
    font-weight: bold;
}

.contact-form-btn:hover {
    background: #FF4000;
    color: #111111;
}

/*CONTACT CSS */

/*FOOTER CSS */
footer {
    display: flex;

    flex-direction: column;
    background: #111111;
    position: relative;
    width: 100%;
    height: auto;
    padding: 3.1rem 6.2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer .container .about-section {
    margin-right: 1.8rem;
    width: 40%;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.9rem;
}

footer .container h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 5rem;
    height: 2px;
    background: #dc552c;
}

footer p {
    color: #999999;
}


.socials {
    margin-top: 1.2rem;
    display: flex;
}

.socials li {
    list-style: none;
}

.socials li a {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.6rem;
    text-decoration: none;
    border-radius: 10%;
    transition: 0.5s ease-in;
}

.socials li a:hover {
    background: #dc552c;
}

.socials li a .fab {
    color: #fff;
    font-size: 1.2rem;
}

.links-section {
    position: relative;
    width: 25%;
}

.links-section ul li {
    list-style: none;
    font-weight: bold;
}

.links-section ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 0.6rem;
    display: inline-block;
    transition: 0.5s ease-in;
}

.links-section ul li a:hover {
    color: #dc552c;
}

.contact-section {
    width: calc(35% - 3.7rem);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact-section .info li {
    display: flex;
    margin-bottom: 1rem;
}

.contact-section .info li span:nth-child(1) {
    color: #999;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 0.6rem;
}

.contact-section .info li span {
    color: #999;
}

.contact-section .info li a {
    color: #dc552c;
    transition: 0.5s ease-in;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
}

.contact-section .info li a:hover {
    color: #FF4000;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 0.5rem 6.25rem;
    text-align: center;
    color: #999;
    font-weight: bold;
}

.copyrightText span {
    color: #BF0B0B;
    text-transform: uppercase;
}

@media(max-width: 991px) {
    footer {
        padding: 2.5rem;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .section {
        margin-right: 0;
        margin-bottom: 2.5rem;
    }

    footer .container .about-section,
    .links-section,
    .contact-section {
        width: 100%;
    }

    .copyrightText {

        padding: 0.5rem 2.5rem;
    }
}

/*FOOTER CSS */