@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yusei+Magic&display=swap');

html{
  scroll-behavior: smooth;
}


body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

[class*="col-"] {
  padding: 1rem;
}

.row, .container-fluid {
margin-left: 0px!important;
margin-right: 0px!important;
}

.fixed-top  {
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(35, 37, 38, 0.52),#FF4000),
  url("images/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.hero-caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: #E5E4E2;
    text-transform: uppercase;
    font-size: 3.8rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    font-style: italic;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
    padding-bottom: 1rem;
}

.btn-lg{
    padding: 0.6rem 1.3rem;
    border-style: none;
    border-radius: 0;
    background-color: #dddddd;
    color: #590202;
    transition: 0.5s ease-out;
    box-shadow: 0.1rem 0.1rem 0.8rem black;
    font-size: 1.3rem;
    font-weight: 600;
}

.btn-lg:hover{
    background-color: #590202;
    color: #435560;
}

.fixed-background {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999!important;
}
.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

/*Nav Css*/
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    font-style: italic;
    letter-spacing: 0.1rem;
    background:rgba(0, 0, 0, 0.4) !important;
}

.navbar-brand img{
  height: 3.5rem;
}

.navbar-nav li{
    padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link{
    color:#E5E4E2;
    padding-top: 0.8rem;
    transition: 0.5s ease-out;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
color: #FF4000;
}
/*Nav Css*/

/*Classes Css*/
#classes{
    background-color: #E5E4E2;
    padding: 1.8rem 0;
}

#classes h1{
    font-weight: 700;
    font-size: 2.7rem;
    font-style: italic;
    padding-bottom: 0.3rem;
}

.title{
    padding: 1.6rem 0;
}

.title p{
    font-size: 1.2rem;
}

.card-body{
    box-shadow:0.1rem 0.1rem 0.8rem black;
}



.card{
    margin: 1.2rem 0.6rem;
    height: 100%;
    
}

.card-body{
    color: #FF4000;
    font-size: 0.9rem;
    margin-top: auto;
    font-weight: 600;
}

.card-text-schedule{
     font-size: 1.2rem;
     color: #333333;
}

.card-text-schedule span{
    color: #FF4000;
    text-shadow:0.1rem 0.1rem 0.6rem black;
}
/*Classes Css*/